@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url(./../../fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url(./../../fonts/PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: "PlusJakartaSans-SemiBold";
  src: url(./../../fonts/PlusJakartaSans-SemiBold.ttf);
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url(./../../fonts/PlusJakartaSans-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');