@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url(./../../fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url(./../../fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: "PlusJakartaSans-SemiBold";
  src: url(./../../fonts/PlusJakartaSans-SemiBold.ttf);
}
@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url(./../../fonts/PlusJakartaSans-Bold.ttf);
}
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.danger-button {
  color: #eb5757;
}

.chat__selected-contacts button {
  width: 32px;
  height: 32px;
  margin: 0 12px 0 0;
}

.button__new-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fd7b5c;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: #ffffff;
}

.button__new-message img {
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
}

.button__new-message p {
  font-family: "PlusJakartaSans-SemiBold";
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
}

#file-button {
  margin: 0 20px 0 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 54px 0 24px 0;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__number {
  font-family: "PlusJakartaSans-Bold";
  font-size: 28px;
  line-height: 36px;
  margin: 0 12px 0 0;
  color: #111315;
}

.counter__text {
  font-family: "PlusJakartaSans-Medium";
  font-size: 14px;
  line-height: 20px;
  vertical-align: bottom;
  color: #888fa2;
}

.chat__search-contact {
  width: calc(100% - 66px);
  height: 40px;
  border: 1px solid #e0e2e7;
  border-radius: 8px;
  margin: 0 0 20px 0;
  padding: 0 0 0 46px;
}

.dialogue__correspondence-message-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 19px;
  border-radius: 8px;
  border: 1px solid #e7e7e8;
  margin: 0 20px 8px 0;
}

.dialogue__correspondence-message-input img {
  width: 24px;
  height: 24px;
}

#chat-input {
  border: none;
  font-family: "PlusJakartaSans-Medium";
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 12px;
  width: 100%;
}

#smiley-dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 56px 0px rgba(41, 41, 41, 0.0784313725);
          box-shadow: 0px 2px 56px 0px rgba(41, 41, 41, 0.0784313725);
  margin: -65px 0 0 0;
}

.smiley {
  margin: 0 5px;
  cursor: pointer;
}

#chat-file-input {
  display: none;
}

.dialogue__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 0;
}

.dialogue__contact-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialogue__contact-information img {
  width: 34px;
  height: 34px;
  margin: 0 12px 0 0;
}

.dialogue__contact-information p {
  font-family: "PlusJakartaSans-SemiBold";
  font-size: 14px;
  line-height: 20px;
}

.dialogue__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dialogue__action img {
  width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
}

.dialogue__dropdown {
  position: relative;
}

#list {
  position: absolute;
  width: 168px;
  right: 20px;
  -webkit-box-shadow: 0px 2px 56px 0px rgba(41, 41, 41, 0.0784313725);
          box-shadow: 0px 2px 56px 0px rgba(41, 41, 41, 0.0784313725);
  z-index: 100;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px 16px 0 16px;
  font-family: "PlusJakartaSans-Regular";
  font-size: 14px;
  line-height: 20px;
}

#list li {
  margin: 0 0 16px 0;
}

.chat__sidebar {
  width: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid #e7e7e8;
}

.chat__sidebar-container {
  margin: 16px 0 16px 20px;
}

.chat__sidebar span {
  position: absolute;
  margin: 12px 0 0 16px;
}

.chat__sidebar span img {
  width: 20px;
  height: 20px;
}

.chat__contact {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e7e7e8;
}

.chat__contact-active {
  background-color: rgba(253, 123, 92, 0.1);
  border-right: 2px solid #fd7b5c;
}

.chat__contact img {
  width: 48px;
  height: 48px;
  margin: 0 16px 0 0;
}

.chat__contact div {
  width: 100%;
}

.chat__block-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__contact-name {
  font-family: "PlusJakartaSans-SemiBold";
  color: #111315;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__message-time {
  font-family: "PlusJakartaSans-Medium";
  color: #878787;
  font-size: 12px;
  line-height: 16px;
}

.chat__preview-message {
  font-family: "PlusJakartaSans-Regular";
  color: #111315;
  font-size: 12px;
  line-height: 16px;
}

.chat__selected-contacts {
  width: 100%;
  border-top: 1px solid #e7e7e8;
}

.chat__selected-contacts div {
  margin: 20px 24px;
}

.chat__selected-contacts div img {
  width: 32px;
  height: 32px;
}

body {
  background-color: #e5e5e5;
}

input {
  outline: none;
}

.container {
  max-width: 1051px;
  margin: auto;
  margin-bottom: 51px;
}

hr {
  position: relative;
  top: 85px;
}

.chat {
  width: 100%;
  height: 852px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
}

.dialogue {
  max-width: 666px;
  width: 100%;
  margin: 20px 0 8px 20px;
}

.dialogue__date-block {
  position: relative;
}

.dialogue__date-block hr {
  position: absolute;
  top: 49px;
  width: calc(100% - 2px);
}

.dialogue__date-block div {
  position: absolute;
  top: 44px;
  right: 50%;
  background-color: #f6f6f6;
  border-radius: 300px;
  width: 58px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PlusJakartaSans-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #878787;
}

.dialogue__correspondence-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 97%;
}

.dialogue__correspondence {
  margin: 102px 20px 0 0;
}

.dialogue__correspondence-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dialogue__correspondence img {
  width: 48px;
  height: 48px;
}

.dialogue__correspondence-message {
  max-width: 461px;
  padding: 16px;
  font-family: "PlusJakartaSans-Regular";
  font-size: 14px;
  line-height: 22px;
}

.contact-message {
  margin: 0 0 0 16px;
  background-color: #f6f6f6;
  border-radius: 20px;
  border-top-left-radius: 0;
}

.user-message {
  margin: 0 16px 0 0;
  background-color: #183d67;
  border-radius: 20px;
  border-top-right-radius: 0;
  color: #ffffff;
}

.dialogue__correspondence-message-time {
  font-family: "Roboto";
  margin: 12px 0 0 16px;
  color: #CBCCD3;
  font-size: 14px;
  line-height: 16px;
}

.dialogue__correspondence-user {
  margin: 32px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.user-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0 16px 0 0;
}