$silver: #e5e5e5;
$orange: #fd7b5c;
$light-orange: rgba(253, 123, 92, 0.1);
$white: #ffffff;
$light-periwinkle: #888fa2;
$light-steel-blue: #e0e2e7;
$silver-sand: #e7e7e8;
$black: #111315;
$battleship-grey: #878787;
$dark-gray: #29292914;
$red: #eb5757;
$light-gray: #f6f6f6;
$midnight-blue: #CBCCD3;
$gray-blue: #183d67;
